:root {
    --left-auth-bar-width: 30rem;
}

.AuthPage {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.AuthPageLeftSection {
    height: 100%;
    width: var(--left-auth-bar-width);
    overflow: hidden;
    display: flex;
}

.AuthPic {
    object-fit: cover;
}

.AuthPageRightSection {
    display: flex;
    height: 100%;
    flex: 1;
}

.AuthPageRightSectionWrapper {
    margin-top: 16rem;
    margin-left: 10rem;
}

.WelcomeTitle {
    color: var(--light-color-1);
    font-weight: 900;
    font-size: 4rem;
}

.WelcomeSlogan {
    color: var(--light-color-1);
    margin-top: -1.25rem;
}

.ConnectNowText {
    margin-top: 1rem;
    color: var(--light-color-1);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ConnectButton {
    background-color: var(--dark-color);
    border-radius: var(--border-radius-s);
    border: 1px solid transparent;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    align-items: center;
}

.ConnectButton:hover {
    background-color: transparent;
    border: 1px solid var(--light-color-1);
}

.WalletIcon {
    margin-left: 1rem;
    width: 2rem;
}

.LoadingAnimation {
    padding: none;
    margin: none;
    transform: scale(2);
    width: 2rem;
    height: 2rem;
    overflow: hidden;
}

.ConnectButtonText {
    color: var(--light-color-1);
    flex: 1;
    margin-left: 2rem;
}

.AuthFooterText {
    margin-top: 2rem;
    font-size: 0.75rem;
    color: var(--light-color-1);
}
