.TopBar {
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.Logo {
    margin-right: 32px;
}

.SearchWrapper {
    background-color: white;
    align-items: center;
    justify-content: center;
}

.SearchBar {
    font-size: 24px;
    padding: 2px 8px;
    border: none;
    transition: width 0.1s linear;
    /* width: 256px; */
    width: 640px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid gray;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-overflow: ellipsis;
}

.SearchBar:focus {
    outline: none;
    border-bottom: 1px solid gray;
    border-radius: none;
    width: 640px;
}

.SearchRes {
    width: 640px;
    height: 256px;
    position: absolute;
    background-color: white;
    overflow-y: scroll;
    border: 1px solid gray;
    border-top: none;
}

.AuthIcon {
    /* height: 32px;
    width: 32px; */
    background-color: green;
    /* border-radius: 100%; */
    margin-right: 0;
    cursor: pointer;
}