.TopBar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, var(--dark-color-1) , var(--dark-color-2));
    height: var(--top-bar-height);
    white-space: nowrap;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.LogoIcon {
    cursor: pointer;
    margin: 0px 2rem;
}

.NavButtonsWrapper {
    display: flex;
    margin: 0px 2rem;
    height: var(--top-bar-height);
}

.NavButton {
    color: var(--light-color-1);
    height: var(--top-bar-height);
    line-height: var(--top-bar-height);
    margin-right: 2rem;
}

.NavButton:hover {
    cursor: pointer;
    color: var(--light-color-2);
}

.SearchWrapper {
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.SearchBar {
    padding: 0.17rem 1rem;
    height: 2rem;
    width: 40rem;
    border-radius: var(--border-radius-s);
    transition: 0.1s linear;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    color: var(--light-color-1);
    border: 1px solid transparent;
    background-color: var(--dark-color);
    outline: none;
}

.SearchBar:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid var(--light-color-1);
    color: var(--light-color-1);
}

.SearchResWrapper {
    /* display: none; */
    border-radius: var(--border-radius-s);
    margin-top: 1rem;
    padding: 1rem;
    width: 40rem;
    /* height: 16rem; */
    position: absolute;
    background-color: var(--dark-color);
    /* overflow-y: scroll; */
    border: 1px solid #fff;
    transition: display 1s;
}

.SearchBar:focus + .SearchResWrapper {
    display: block;
}

.SearchResLine:focus + .SearchResWrapper {
    display: block;
}

.SearchResSeparator {
    color: var(--light-color-1);
    margin-bottom: 1rem;
}

.SearchRes {
    color: var(--light-color-1);
}

.SearchResLine {
    margin-bottom: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.SearchResLine:hover {
    background-color: var(--dark-color-2);
}

.SearchResLineImage {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.SearchResLineText {
    color: var(--light-color-1);
    text-decoration: none;
}

.AuthWrapper {
    margin-left: auto;
}

.ConnectWalletBtn {
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: var(--border-radius-s);
    color: var(--light-color-1);
    background-color: var(--dark-color);
    cursor: pointer;
    margin-left: auto;
    margin-right: 1rem;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}

.ConnectWalletBtn:hover {
    background-color: none;
    border: 1px solid var(--light-color-1);
}

.BalancesWrapper {
    cursor: pointer;
    padding: 0.17rem 1rem;
    height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--light-color-1);
    transition: width 0.1s linear;
    margin-left: auto;
    display: flex;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: var(--border-radius-s);
    background-color: var(--dark-color);
    margin-right: 2rem;
}

.WalletIconWrapper {
    height: 2rem;
}

.WalletIcon {
    height: 100%;
}

.EthBal {
    -webkit-user-select: none;
    user-select: none;
    height: 2rem;
    line-height: 2rem;
    margin-left: 2rem;
}

.WethBal {
    border-left: none;
    -webkit-user-select: none;
    user-select: none;
    height: 2rem;
    line-height: 2rem;
    margin-left: 2rem;
}

.EthBal:hover, .WethBal:hover {
    color: var(--light-color-2);
}

.ProfileIcon {
    display: inline-block;
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.1s;
    margin: 0rem 2rem;
    background-color: var(--dark-color);
}

.ProfileIcon:hover {
    background: rgba(255,255,255,0.1);
}
