.NftList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NftListSearchWrapper {
    margin-top: 2rem;
    width: 100%;
    padding: 2rem 6rem;
    display: flex;
}

.Dropdown-root {
    margin-left: 10rem;
}

.NftListSearchBar {
    padding: 0.17rem 1rem;
    height: 2rem;
    width: auto;
    border-radius: var(--border-radius-s);
    transition: 0.1s linear;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    color: var(--light-color-1);
    border: 1px solid transparent;
    background-color: var(--dark-color);
    outline: none;
    margin-left: 5rem;
    width: 20rem;
}

.SearchBar:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid var(--light-color-1);
    color: var(--light-color-1);
}

.NftListCardsWrapper {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.NftCard {
    width: 18rem;
    height: 26rem;
    background-color: var(--dark-color);
    margin: 1rem;
    border-radius: var(--border-radius-s);
    transition: 0.05s linear;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0rem 0rem var(--dark-color); /* Makes the hover shadow appear smoothly */
    text-decoration: none;
}

.NftCard:hover {
    scale: 1.1;
    box-shadow: 0rem 0rem 2rem 0.1rem var(--dark-color);
}

.NftCard:hover .NftCardVisualWrapper{
    scale: 1.1;
}

.NftCardVisualWrapper {
    background-color: black;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MediaSquare {
    width: 100%;
    transition: 0.1s linear;
}

.NftCardDetails {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.NftCardName {
    color: var(--light-color-1);
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.NftCardCollectionName {
    color: var(--light-color-1);
    font-size: 0.8rem;
}

.NftCardPriceWrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: auto;
}

.NftCardPriceText {
    color: var(--light-color-1);
}

.NftCardEtherIcon {
    width: 1.5rem;
}

.NftCardPrice {
    color: var(--light-color-1);
    font-weight: 600;
    max-width: 4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
