.NftList {
    border: 1px solid var(--light-color-1);
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.NftCard {
    width: 18rem;
    height: 24rem;
    background-color: var(--dark-color);
    margin: 1rem;
    border-radius: var(--border-radius-s);
}
