.NftPage {
    display: flex;
    flex-direction: column;
    color: var(--light-color-1);
}

.NftDataWrapper {
    width: auto;
    padding: 2rem;
    display: flex;
}

.NftPageVisualWrapper {
    display: flex;
    width: 40rem;
    overflow: hidden;
    border-radius: var(--border-radius-s);
}

.NftPageDetailsWrapper {
    margin-left: 2rem;
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.NftPageNftName {
    font-size: 2rem;
}

.NftPageNftCollectionNameOuterWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}

.NftPageNftCollectionNameWrapper {
    display: flex;
    border: 1px solid var(--dark-color);
    border-radius: var(--border-radius-s);
    align-content: center;
    text-decoration: none;
    overflow: hidden;
}

.NftPageNftCollectionName {
    background-color: var(--light-color-1);
    color: var(--dark-color);
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

.NftPageNftCollectionTotalSupply {
    background-color: var(--dark-color);
    color: var(--light-color-1);
    padding: 0.2rem 1rem;
}

.NftPageNftOwnerWrapper {
    margin-top: 1rem;
    color: var(--light-color-1);
    text-decoration: none;
}

.NftPageNftOwnerWrapper:hover {
    color: var(--light-color-2);
}

.NftPageNftFloorPriceWrapper {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.NftPageAskBidWrapper {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

.NftPageAskButton, .NftPageBidButton {
    padding: 1rem;
    border-radius: var(--border-radius-s);
    cursor: pointer;
    border: 1px solid transparent;
}

.NftPageAskButton {
    background-color: var(--light-color-1);
    color: var(--dark-color);
}

.NftPageBidButton {
    background-color: var(--dark-color);
    margin-left: 1rem;
}

.NftPageBidButton:hover {
    border: 1px solid var(--light-color-1);
}

.NftPageAskButton:hover {
    background-color: var(--light-color-2);
}
