.ProfilePage {
    display: flexbox;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
}

.ProfileHeader {
    width: 100%;
    display: flex;
}

.ProfilePicWrapper {
    height: 16rem;
    display: flexbox;
    overflow: hidden;
    border-bottom-right-radius: var(--border-radius-m);
    border-top-right-radius: var(--border-radius-m);
}

.ProfilePic {
    height: 100%;
    display: flex;
}

.ProfileDetailsWrapper {
    padding-top: 4rem;
    padding-left: 2rem;
}

.NicknameWrapper {
    display: flex;
}

.Nickname {
    color: var(--light-color-1);
    font-size: 3rem;
}

.ProfileAddressWrapper {
    color: var(--light-color-1);
    padding: 0.17rem 1rem;
    background-color: var(--dark-color);
    border-radius: var(--border-radius-s);
    border: 1px solid transparent;
    display: flex;
}

.ProfileAddressWrapper:hover {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--light-color-1);
}

.CopyIcon {
    width: 1rem;
    margin-left: 1rem;
}

.SocialsWrapper {
    margin-top: 2rem;
    display: flex;
}

.SocialNetworkIconWrapper {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.SocialNetworkIcon {
    height: 2rem;
}

.SocialsChangeButton {
    height: 2rem;
    width: 2rem;
    background-color: var(--light-color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--dark-color);
    font-size: 3rem;
    overflow: hidden;
    cursor: pointer;
}

.CogIcon {
    height: 2rem;
    border: 1px solid transparent;
}

