.ProfilePage {
    display: flexbox;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
}

.ProfileHeader, .ProfileBody {
    margin-top: 78px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background: rgba(0,0,0,0.1);
    backdrop-filter: blur(16px); */
    border-radius: 4px;
    margin-bottom: 10px;
}

.ProfilePic {
    margin: 10px 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(16px);
    display: inline-block;
}

.ProfilePic:hover {
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 0 5px #fff, inset 0 0 5px #fff;
}

.ProfileAddress {
    display: flex;
    font-size: 18px;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 64px;
}

.ProfileBody {
    display: flexbox;
    flex-direction: column;
}

.ProfileSectionTitle {
    color: #fff;
    display: flexbox;
}
