.CollectionPage {
    color: var(--light-color-1);
    display: flex;
    flex-direction: column;
}

.CollectionWrapper {
    display: flex;
    flex-direction: column;
}

.CollectionPageBannerWrapper {
    height: 24rem;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column; /* Man, css is wild... */
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.CollectionPageBanner {
    width: 100%;
}

.CollectionPageTitle {
    margin: 2rem 6rem;
    font-size: 3rem;
}
